.footer {
  width: 100%;
  padding-bottom: var(--space-between-block);

  &__top {
    margin-bottom: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid var(--color-white-opacity);
  }

  &__question {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    &-button {
      margin-left: auto;
    }

    @include responsive-xs {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__menu {
    display: grid;
    grid-gap: var(--space-between-block) var(--space-between-sections);
    grid-template-columns: var(--space-between-sections) var(--space-between-sections);
    grid-template-rows: fit-content fit-content;

    &-item {
      @include responsive-s {
        width: 100%;
      }
    }

    &-link {
      font-size: 1.2rem;
    }

    @include responsive-m {
      grid-row-gap: 10px;
      grid-template-columns: min-content min-content min-content;
      grid-template-rows: min-content;

      width: 100%;
      margin-bottom: var(--space-between-block);
    }

    @include responsive-s {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__social {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-between-block);

    @include responsive-m {
      grid-row-gap: 10px;
      margin-bottom: var(--space-between-block);
    }
  }

  &__connection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    justify-content: space-between;

    @include responsive-m {
      align-items: flex-start;
      width: 100%;
    }
  }
}
